.card {
  margin: 30px auto;
  padding: 10px;
  width: 400px;
}

.text {
  margin-top: 50px;
  margin-bottom: 10px;
}

.brand {
  font-weight: 700;
  font-size: 1.2rem;
}

.image {
  object-fit: fit;
}

.image:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition-duration: 300ms;
}

.price {
  color: lightgreen;
  font-size: large;
  font-weight: 800;
}
